:root {
  font: 16px / 1 sans-serif;
  background-color: #eaeaea;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3 {
  margin: 0;
  color: #183e4b;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 1rem;
}

article {
  color: #8ba0a4;

  // &:hover {
  //   border-color: #183e4b;
  // }
}

main {
  border: solid 3px #8ba0a4;
  border-radius: 2rem;
  padding: 1rem;
}

li, ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, .6rem);
  list-style: none;
  padding-inline-start: 0;
}
